@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: white;
  font-family: "optima_lt_proroman", serif;
}

input {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px;
}

body {
  background-color: #2A2A2A;
}

@font-face {
  font-family: "optima_lt_probold_italic";
  src: url("/fonts/optimaltpro-bolditalic-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_prodemi_bold";
  src: url("/fonts/optimaltpro-demibold-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_prodemi_bold_italic";
  src: url("/fonts/optimaltpro-demibolditalic-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-demibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_proextra_black";
  src: url("/fonts/optimaltpro-extrablack-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-extrablack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_proXBlkIt";
  src: url("/fonts/optimaltpro-extrablackita-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-extrablackita-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_proitalic";
  src: url("/fonts/optimaltpro-italic-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_promedium";
  src: url("/fonts/optimaltpro-medium-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_promedium_italic";
  src: url("/fonts/optimaltpro-mediumitalic-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_proroman";
  src: url("/fonts/optimaltpro-roman-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_problack";
  src: url("/fonts/optimaltpro-black-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_problack_italic";
  src: url("/fonts/optimaltpro-blackitalic-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optima_lt_probold";
  src: url("/fonts/optimaltpro-bold-webfont.woff2") format("woff2"), url("/fonts/optimaltpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "verdanaregular";
  src: url("/fonts/verdana-webfont.woff2") format("woff2"), url("/fonts/verdana-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "verdanaregular";
  src: url("/fonts/verdana-webfont.woff2") format("woff2"), url("/fonts/verdana-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "times_new_romanregular";
  src: url("/fonts/times-webfont.woff2") format("woff2"), url("/fonts/times-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoe_printregular";
  src: url("/fonts/segoepr-webfont.woff2") format("woff2"), url("/fonts/segoepr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 25px;
}
header ul li {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin: 15px;
  text-transform: uppercase;
  line-height: 0;
}
header ul li:last-child {
  width: 130px;
  background-color: #3e5153;
  border-radius: 50px;
  margin-left: 10px;
}
header ul li a {
  --thickness: .05em;
  --strike: 0;
  background: linear-gradient(90deg, transparent, currentColor 0) no-repeat right center/calc(var(--strike) * 100%) var(--thickness);
  transition: background-size 0.1s ease-out;
  font: 16px "optima_lt_proroman", serif;
  padding: 0 0.2em;
}
header ul li a:hover {
  --strike: 1;
  background-position-x: left;
}

.message {
  left: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  width: 420px;
  height: 100vh;
  text-align: center;
}
.message h3 {
  font-family: "Yeseva One", cursive;
  display: flex;
  transform: rotate(-90deg);
  font-size: 35px;
}

body {
  position: relative;
}
body .video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  line-height: 0;
}
body .video video {
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(120%);
  line-height: 0;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  width: 100vw;
}
body .main h1 {
  font-size: 72px;
  font-weight: 300;
  text-transform: uppercase;
}
body .main h2 {
  margin-top: 15px;
  font-family: "Yeseva One", cursive;
  font-size: 32px;
  font-weight: 100;
}
body .main__boutons {
  display: flex;
}
body .main__boutons__btn {
  width: 120px;
  height: 45px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .main__boutons__btn:hover {
  background-color: #3e5153;
  transition: background-color 300ms linear;
}
body .main__boutons__btn a {
  height: 100%;
  width: 100%;
  line-height: 3;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .images {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/BACKGROUND.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .main__fabriquer {
  position: relative;
  height: 960px;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body .main__fabriquer .selection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .main__fabriquer .selection div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main__fabriquer .selection div h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 19px;
  text-transform: capitalize;
}
body .main__fabriquer .selection div div {
  margin-top: 12px;
}
body .main__fabriquer .selection div div ul li {
  cursor: pointer;
  margin: 12px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
body .main__fabriquer .selection div div ul li ul {
  position: absolute;
  left: 350%;
  top: -20px;
}
body .main__fabriquer .selection div div ul li ul li {
  margin: 10px;
  left: 0;
  top: 10px;
}
body .main__fabriquer .apparence {
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main__fabriquer .apparence .main__fabriquer__couteau {
  opacity: 1;
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 1170px;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__lame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__manche {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__plaquette {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: center;
  animation: plaquetteanimation 300ms;
}
@keyframes plaquetteanimation {
  from {
    transform: scale(150%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
body .main__fabriquer .apparence .main__fabriquer__couteau__gravure {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__vis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere {
  display: none;
  width: 1170px;
  opacity: 0;
  z-index: 500;
  position: absolute;
  height: 150px;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere__lame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere__plaquette {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere__vis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere__text {
  z-index: 200;
  width: 300px;
  height: 40px;
  text-align: left;
  position: absolute;
  right: 285px;
  top: 23px;
  border: transparent;
  background-color: transparent;
  color: #1a1a1a;
  font-family: "verdanaregular";
  font-size: 14px;
  font-weight: 500;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere__text:focus {
  outline: none;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere .inputlaserclair::-moz-placeholder {
  color: #dbdbdb;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere .inputlaserclair::placeholder {
  color: #dbdbdb;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere .inputlaserfonce::-moz-placeholder {
  color: #1a1a1a;
}
body .main__fabriquer .apparence .main__fabriquer__couteau__arriere .inputlaserfonce::placeholder {
  color: #1a1a1a;
}
body .main__fabriquer__gravure {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main__fabriquer__gravure__titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
body .main__fabriquer__gravure__titles h3 {
  text-transform: capitalize;
  font-size: 19px;
}
body .main__fabriquer__gravure__titles__titregravurelameavant {
  display: block;
  width: 33%;
  text-transform: uppercase;
  color: white;
  font-family: "optima_lt_proroman", serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
body .main__fabriquer__gravure__titles__blank {
  width: 33%;
}
body .main__fabriquer__gravure__titles__titregravurelamearriere {
  display: block;
  opacity: 0.2;
  width: 33%;
  text-transform: uppercase;
  color: white;
  font-family: "optima_lt_proroman", serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
body .main__fabriquer__gravure .gravure__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 185px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--gravureslame {
  z-index: 101;
  display: block;
  width: 33%;
  overflow: hidden;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--switch {
  position: relative;
  width: 33%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--switch button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  border: 0px solid #fff;
  border-radius: 50px;
  height: 40px;
  width: 160px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "optima_lt_proroman", serif;
  cursor: pointer;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--switch button:first-child {
  background-color: #3e5153;
  top: -50px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--switch button:last-child {
  bottom: -50px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section--gravureslamearriere {
  display: block;
  z-index: 101;
  opacity: 0.2;
  width: 33%;
  overflow: hidden;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-right: 35px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw {
  position: relative;
  display: flex;
  text-align: left;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw h4 {
  line-height: 13px;
  padding-top: 20px;
  width: 60%;
  color: white;
  opacity: 0.5;
  font-weight: 400;
  cursor: pointer;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */ /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
  width: 300px;
  cursor: pointer;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw .main__fabriquer__gravure__section__container__raw__title--verdana {
  opacity: 1;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__lines {
  width: 40%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__lines__container {
  width: 12px;
  height: 33px;
  display: flex;
  justify-content: center;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__lines__container__round {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__lines__container .verdana__rounded {
  background-color: #fff;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__lines__container--trait {
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: white;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu {
  z-index: 10;
  position: absolute;
  right: 100px;
  display: none;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu--hidden {
  display: none;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu--show {
  display: block;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu__line {
  position: absolute;
  left: -50px;
  top: 6px;
  background-color: #fff;
  height: 1px;
  width: 40px;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu__line__round {
  position: absolute;
  right: 0;
  top: -3px;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu ul {
  position: absolute;
  top: 0px;
  transition: 0.3s ease-out;
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu ul li {
  width: 150px;
  color: white;
  opacity: 0.5;
  margin: 12px;
  cursor: pointer;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */ /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}
body .main__fabriquer__gravure .gravure__container .main__fabriquer__gravure__section__container__raw__sousmenu ul li:first-child {
  margin-top: 0;
  color: white;
  opacity: 1;
}
body .main__commander {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  width: 100vw;
  height: 50px;
}
body .main__commander--panier {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 50px 15px;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}
body .main__commander--panier:hover {
  background-color: #124a52;
  transition: background-color 300ms linear;
}
body .main__commander--panier a {
  padding-left: 20px;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.boutique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.boutique p {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.boutique h3 {
  font-family: "Yeseva One", cursive;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.boutique .produits {
  z-index: 100;
  width: 1170px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.boutique .produits .fiches-produits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.boutique .produits .fiches-produits div {
  width: calc(33% - 32px);
  margin: 8px;
  cursor: pointer;
  overflow: hidden;
}
.boutique .produits .fiches-produits div img {
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 12px;
  transition: transform 0.3s ease;
}
.boutique .produits .fiches-produits div img:hover {
  transform: scale(1.1);
}
.boutique .produits .fiches-produits div p {
  font-weight: 500;
  text-align: center;
  margin: 8px 0;
}
.boutique .produits .fiches-produits div p:last-child {
  color: #ffb900;
}

.shop {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  width: 1170px;
  height: 100vh;
}
.shop .titres {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.shop .titres p {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.shop .titres h3 {
  font-family: "Yeseva One", cursive;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.shop .produits {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.shop .produits .degrade {
  position: absolute;
  height: 75px;
  width: 100%;
  z-index: 100;
}
.shop .produits .degradetop {
  top: 0;
  background: linear-gradient(#2A2A2A, transparent);
}
.shop .produits .degradebottom {
  bottom: 0;
  background: linear-gradient(transparent, #2A2A2A);
}
.shop .produits .couteaux {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop .produits .couteaux .couteau {
  width: 100%;
  height: 150px;
  margin: 50px;
  cursor: pointer;
}

.coouteauhide {
  filter: saturate(0.3);
  transform: scale(0.7);
}/*# sourceMappingURL=style.css.map */