// colors

// $primary-color: #334EFF;
$primary-color: #3e5153;
$secondary-color: #2A2A2A;
$third-color: #124a52;
$fourth-color: #ffb900;
$fifth-color: #f0f0f0;

// fonts

$primary-font : 'optima_lt_proroman', serif;
$secondary-font : 'Yeseva One', cursive;
